@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Jua", sans-serif;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* @import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Barlow:500,600,700"); */

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
* {
  box-sizing: border-box;
}
.barlow-bold-black-24px {
  color: black;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.barlow-medium-dove-gray-24px {
  color: var(--dove-gray);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.card {
  align-items: center;
  background-color: var(--vista-white);
  border-radius: 20px;
  display: flex;
  height: 94px;
  overflow: hidden;
  padding: 0 20px;
}
.check {
  align-items: flex-start;
  display: flex;
  height: 46px;
  padding: 3px 3px;
  width: 46px;
}
.controls {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 78px;
  margin-left: 30px;
  min-width: 152px;
  padding: 0 19.5px;
}
.delete {
  align-items: center;

  display: flex;
  height: 46px;
  margin-left: 21px;
  padding: 0 9px;
  width: 46px;
}
.indicator {
  background-color: var(--sea-pink);
  height: 78px;
  width: 20px;
}
.left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 78px;
  width: 427px;
}
.text-1 {
  height: 16px;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 10px;
  min-height: 16px;
  white-space: nowrap;
}
.vector {
  height: 40px;
  width: 40px;
}
.vector-1 {
  height: 36px;
  width: 28px;
}
.x-i1022101 {
  height: 41px;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 41px;
}
:root {
  --dove-gray: rgba(109, 104, 117, 1);
  --sea-pink: rgba(229, 152, 154, 1);
  --vista-white: rgba(251, 246, 246, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
